<% content_for :title, 'Native Australian and Tasmanian Plant Nursery Near Hobart' %>
<div id="centered" class="border hobart">
  <div id="one-col">
    <div id="left">
      <div class="column">
        <h1>Redbreast Plants is a native Australian and Tasmanian plant nursery near Hobart</h1>
        <p>We operate in the North and South of Tasmania with the primary retail operation in Margate near Hobart. Contact us today if you need plants delivered anywhere throughout the state.</p><br>
        <p>You can buy or order some of our beautiful Tasmanian native plants are available for purchase within 30 minutes drive from Hobart at 1709 Channel Highway Margate or 242 Robin Hill Road, Flowerdale in the Northern Tasmania.</p><br><br>
        <p>The Margate nursery has been run by several passionate native plant lovers over the 16 years it has been running.</p>
        <a href="/maps">See instructions on how to get there</a></br></br>

        <img src="<%= image_url("hobart-native-plant-nursery-1.jpg") %>" alt="Margate Redbreast Plants native plant nursery near Hobart">
        <section class="photos">
          <img src="<%= image_url("hobart-native-plant-nursery-2.jpg") %>" alt="Native Tasmanian plants stock">
          <img src="<%= image_url("hobart-native-plant-nursery-3.jpg") %>" alt="Native Tasmanian plants stock">
          <img src="<%= image_url("hobart-native-plant-nursery-4.jpg") %>" alt="Native Tasmanian plants stock">
          <img src="<%= image_url("hobart-native-plant-nursery-5.jpg") %>" alt="Native Tasmanian plants stock">
          <img src="<%= image_url("hobart-native-plant-nursery-6.jpg") %>" alt="Native Tasmanian plants stock">
          <img src="<%= image_url("hobart-native-plant-nursery-7.jpg") %>" alt="Native Tasmanian plants stock">
          <img src="<%= image_url("hobart-native-plant-nursery-8.jpg") %>" alt="Native Tasmanian plants stock">
        </section>
        <br><br>
      </div>
    </div>
</div>
