<div id="centered" class="border">
  <div id="banner">
      <!-- Content slider -->
      <div>
          <ul style="list-style:none;">
              <li>
                  <%= image_tag "banner3.jpg", alt: "Australian Native Plants in Tasmania" %>
                  <div class="info">
                      <div>
                          <h1>Australian Native Plants in Tasmania</h1>
                          <p>Redbreast Plants has been supplying a wide variety of native Australian Plants for over 20 years. We currently have two outlets; one in Margate (near Hobart) and one in
Flowerdale (near Wynyard). The Flowerdale outlet is also the location of the propagation nursery where thousands of plants are produced each year. </p>
                      </div>
                  </div>
              </li>
          </ul>
      </div>
  </div>
  <div id="four-col">
      <div class="column">
          <h2>Plant List</h2>
          <img src="<%= image_url('img1.png') %>" alt="Native Plant List">
          <p>Redbreast Plants now has over 1100 plants in their native plant list. This list is now online and the information can be browsed by you.</p>
          <a href="plant-list">Browse Our Plants</a>
      </div>
      <div class="column">
          <h2>Where are we?</h2>
          <img src="<%= image_url('img2.png') %>" alt="Where Redbreast Plants is">
          <p>Redbreast Plants is based in the Flowerdale valley in Northern Tasmania and has an outlet in Margate just outside of Hobart in Southern Tasmania.</p>
          <a href="maps">See the Map</a>

      </div>
      <div class="column">
          <h2>Contact Us</h2>
          <img src="<%= image_url('img3.png') %>" alt="Contact Redbreast Plants">
          <p>You can now contact Redbreast Plants directly on this website via our contact form. Please contact us if you have any inquiries about our plants.</p>
                      <a href="contact">Contact Us</a>
                      <h3>NB. We only sell to customers in Tasmania</h3>
      </div>
      <div class="last column">
          <h2>About Us</h2>
          <img src="<%= image_url('img4.gif') %>" alt="About Redbreast Plants">
          <p>Redbreast Plants is one of the biggest propagators of native plants in Tasmania with over 20 years experience. Originally called Robin Hill Trees and started by Barney Roberts in the 70s the business has steadily grown to now supply plants state-wide to home owners and businesses.</p>
          <a href="about-us">Read more</a>
      </div>
  </div>
</div>
