<div id="centered">
        <div id="header">
    <a href="/"><img src="<%= image_url('logo.gif') %>" alt="" class="floatleft"></a>
    <ul id="navigation">
                                        <li><a href="/">Home</a></li>
                    <li><a href="about-us">About us</a></li>
                    <li><a href="maps">Maps</a></li>
                    <li class="active"><a href="plant-list">Plant List</a></li>
                    <li><a href="contact">Contact us</a></li>
    </ul>
  </div>
        <div id="two-col" class="border" style="width:890px;">
<h2 class="green">The Plant List</h2>
A comprehensive list of plants that Redbreast Plants is able to cultivate<br>
<a href="?whole=yes">Click Here</a> for the entire plant list.<br>
<br>
</div>

<div style="width:890px;">

    <div>
        <form name="searchform" method="GET" action="plant-list">
            <div>
            <span style="display:inline-block;width:120px;color:#006699">quick pre-made lists</span>

            <select name="listnum" id="quicklists" style="width:247px;">
                <option>All Plants</option>
                <option value="1">Tasmanian Species</option>
                <option value="2">Screen Plants</option>
                <option value="3">Windbreaks</option>
                <option value="4">Groundcovers</option>
                <option value="5">Coastal Plants</option>
                <option value="6">Drought Tolerant</option>
                <option value="7">Hardy Plants</option>
                <option value="8">Timber Trees</option>
                <option value="9">Dappled Shade</option>
                <option value="10">Wet Site</option>
                <option value="11">Avenue Features</option>
                <option value="12">Small Feature Plants</option>
                <option value="13">Container Plants</option>
                <option value="14">Cut Flowers and Foliage</option>
                <option value="15">Border Plants</option>
                <option value="16">Grasses Sedges and Clumping Plants</option>
                <option value="17">Rockery Plants</option>
                <option value="18">Compact Plants</option>
                <option value="19">Contrast Plants</option>
                <option value="25">Climbing Plants</option>
                <option value="20">Bush Food Plants</option>
                <option value="21">Butterfly Attracting</option>
                <option value="22">Bird Attracting</option>
                <option value="23">Waste Water List</option>
                <option value="24">Roadside Planting</option>
            </select>
            </div>

            <div>
                    <span style="display:inline-block;width:120px;color:#006699">quick plant search</span>
                    <input id="search" autocomplete="off" style="padding:0;margin:0;width:243px;" name="search" type="text" size="36" value="search for plant..." onkeyup="lookup(this.value);" onblur="fill();" />
            </div>

            <div>
                <span style="display:inline-block;width:120px">&nbsp;</span><input type="submit" value="Search">
            </div>

            <div class="suggestionsBox" id="suggestions" style="display: none;">
                    <div class="suggestionList" id="autoSuggestionsList">
                            &nbsp;
                    </div>
            </div>
        </form>
    </div>
    <div id="imgholder">
    </div>

<br>
<a href="?srtplnt=0">&lt;&lt;</a> &lt;  PAGE 1 of 37 <a href="?srtplnt=30">&gt;</a> <a href="?srtplnt=1080">&gt;&gt;</a><br><br>
<table id="myTable" class="tablesorter" style="width:880px !important; margin: 0 0 50px 0;">
<thead>
  <tr>
    <th style="width:110px" value="Botanical_Name" >Botanical Name</th>
    <th style="width:100px" value="Common_Name" >Common Name</th>
    <th value="Comments" >Comments</th>
    <th style="width:30px" value="Average_Height" >Avg. Height</th>
    <th style="width:30px" value="Average_Width" >Avg. Width</th>
    <th value="Flower_Colour_and_Season" >Flower &amp; Season</th>
    <th value="Soil_Types" >Soil</th>
    <th value="photo" >Photo</th>
  </tr>
</thead>
<tbody>
  <% @plants.each do |plant| %>
    <tr>
      <td><%= plant.botanical_name %></td>
      <td><%= plant.common_name %></td>
      <td><%= plant.comments %></td>
      <td><%= plant.average_height %></td>
      <td><%= plant.average_width %></td>
      <td><%= plant.flower_colour_and_season %></td>
      <td><%= plant.soil_types %></td>
      <td><img src="<%= plant.soil_types %>" width=100></td>
    </tr>
  <% end %>
</tbody>
</table>
</div>


<script type="text/javascript">
$(document).ready(function()
{
    $("#myTable th").click(function()
    {
        var $_GET = [];
        var newloc = window.location.href.replace(/(&order=[a-zA-Z0-9_]+)/,"").replace(/(&orderDir=[a-zA-Z0-9_]+)/,"");
        if(newloc.indexOf('?')==-1) newloc = newloc + "?";
        if(($(this).attr('value')==$_GET['order']) && (($_GET['orderDir']=="ASC")||(!$_GET['orderDir'])))
        {
            $(location).attr('href',newloc+"&order="+$(this).attr('value')+"&orderDir=DESC");
        }
        else
        {
            $(location).attr('href',newloc+"&order="+$(this).attr('value')+"&orderDir=ASC");
        }
    });
});
</script>

